/* CSS for Kaltire */

/* Hides entire suiteBar 
div#suiteBarTop {display: none;}
*/

body{
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

#DeltaPlaceHolderMain{
	width:1200px;
	margin:0 auto;
}
#O365_MainLink_TenantLogo
{
	display:none;
}

[class]#pageStatusBar, .ms-status-msg
{
	margin-top:15px;
}

a:visited {
    color: #f09609;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

/*Top Menu background */
#s4-titlerow 
{
	background-color: #ff6900;
    height: auto;
    padding-top: 15px;
    padding-bottom: 11px;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.4);
    z-index: 2;
    position: relative;
}

#siteIcon{
	height: 50px !important;
	line-height: normal;
}


.ms-breadcrumb-box{
	height: auto;
	padding: 13px 0 0 10px;
}

/*Display the Title of the Page */
.ms-core-pageTitle 
{
	/* display:none;	*/
	color:#e6e6e6;
	float:right;
}

/*#sideNavBox { DISPLAY: none }*/

div#sideNavBox li > a {
  background-color: #000;  
}

/* Hide the site contents item */
div#DeltaPlaceHolderLeftNavBar > div > div:last-child {
    display: none ! important;
}

#contentBox 
{ 
	margin-left: 20px !important;
}

#contentRow 
{
	padding-top:0px;
}

span.menu-item-text {
	color:#fee;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
span.menu-item-text:hover{
	color: #fff;
	font-size: 14px;
}


/* Top Navigation */ 
.ms-core-listMenu-horizontalBox a.ms-core-listMenu-item:hover {
	color:#ffffff;
}

a.static.menu-item.ms-core-listMenu-item.ms-displayInline.ms-navedit-linkNode {
	 color:#ffffff;
}

.ms-selected, .ms-pivotControl-surfacedOpt-selected, .ms-core-listMenu-selected, .ms-hero-command-enabled-alt {
	 color:#000 !important;
	 font: 14px "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
}

li > a.ms-core-listMenu-item.ms-core-listMenu-selected:hover, li > a.ms-core-listMenu-item:hover {
	color:#000000 !important;
	/* font-weight: bold; */
	font: 14px "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
}

/* Containing <ul> for dropdown navigation items */
ul.dynamic {
	background-color:#ff6900;
	border:none;
	box-shadow: none;
	padding: 22px 0 0;
}
ul.dynamic span.menu-item-text{
	padding: 6px;
	display: block;
	border-top: 1px solid #ff9930;
}

/* arrow */
.ms-core-listMenu-horizontalBox .dynamic-children.additional-background {
	background-image:url('DropDown.png');
	background-repeat:no-repeat;
	background-position:right center;
}
.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item {
	
}

.ms-core-listMenu-root ul.dynamic > li.dynamic:last-child > .menu-item {
	border: 0px solid transparent;
}
/*hide edit links*/
#DeltaTopNavigation .ms-core-listMenu-root .ms-listMenu-editLink {display: none;}

/* Link tag in dropdown nav 
ul.dynamic .ms-core-listMenu-item {
	background-color:violet;
}
*/
/* Hover state for links in the dropdown navigation
ul.dynamic .ms-core-listMenu-item:hover {
	background-color:palegreen;
}
 */
/* change colour of the app icons in admin mode */
.ms-storefront-appiconspan {
	background-color: #ff6900;
}

/* Navigation */
ul.dynamic {
	width: auto !important;
	white-space: nowrap;
	min-width:230px;
}

/*New Page or Item Callout */
#cojs-newdocWOPI-WPQ1_callout-content {
	
	width:310px !important;
}

/* Fix Blank Spacing */
.cell-margin {margin-top: 10px;margin-bottom: 10px;}
.tableCol-75 {padding-right: 15px; Width: 75% !Important;}
.tableCol-25 {Width: 25% !Important;}
.tableCol-50 {Width: 50% !Important;}
.ms-table .tableCol-50:first-child {padding-right: 15px;}
.tableCol-33 {padding-left: 15px;Width: 33% !Important;}
.ms-table .tableCol-33:first-child {padding-left: 0px;}

/*######################--Sharepoint 2013 Search Box--############################*/

#searchInputBox {
background: url('/_catalogs/masterpage/CSS/bg_search.png') no-repeat scroll 0 0;
 background:#FFFFFF;
 height: 27px; /*exact same height as image */
 width: 250px; /*exact same width as image */
 margin-top:8px;
 margin-right:0;
}

#SearchBox > div {
 border: 0;
 border:thin #EEEEEE solid;
 border-radius:0px;
 background:#FFFFFF;
}

#SearchBox > div > input {
  border: 0 none;
  /* adjust size and positioning of input box */
  height: 23px; 
  padding: 2px;
  width: 180px; 
  background:#FFF;
  color:#888;
  margin: 0;
 }

/* hide or show dropdown list button */
#SearchBox .ms-srch-sb {
  display: block;
 }

#SearchBox .ms-srch-sb-navLink{
   margin-right:0px;
}

#SearchBox .ms-srch-sb-searchLink{
 	float:left;
}

#SearchBox .ms-srch-sb > .ms-srch-sb-searchLink {
	border: 0 none;
	height: 34px;
	margin-left: 0;
	width: 12px;
 }

/* reset hover bg color */
#SearchBox .ms-srch-sb-searchLink:hover,
#SearchBox .ms-srch-sb-navLink:hover {
	background-color: transparent;
	color:#FFFFFF;
}

 /* hide search button image (magnifier) */
 #SearchBox .ms-srch-sb > .ms-srch-sb-searchLink img {
   display: none;
 }

 /*##################---End of Search box---##########################*/
 
  /*##################---Search Refiners---##########################*/
  
  .ms-ref-refiner #Value, .ms-ref-unsel-toggle, #OtherValue, #SubmitValue {
    padding: 4px 0;
    width: auto;
    display: block;
}

.ms-ref-ellipsis, .ms-entity-resolved, .ms-entity-unresolved {
    white-space: nowrap;
    overflow:visible !important;
    text-overflow: ellipsis;
    word-wrap: normal;
}

div#Container > a.ms-ref-refinername > div.ms-displayInlineBlock {
    width: auto;
    min-width:380px;
}


 /*##################---End of Search Refiners---##########################*/


 /*##################---Search Query Web Part---##########################*/
 
 .ms-noWrap, .ms-textTruncate {
    white-space: pre-line !important;
}

 
.cbs-picture3LinesLine1 {
    padding-bottom: 1px;
    font-weight: 700;
    color: #555756;
    margin-right:20px;
}

.cbs-picture3LinesLine2:before {
    content: "Updated:" !important ;
    color: #a7a5a5;
    font-weight: 700;
}

.cbs-picture3LinesLine2 {
    color: #a7a5a5;
    font-weight: 700;
}

.cbs-pictureLine3 {
	padding-top:0px;
	white-space: normal;
	margin-right:25px !important;
}

.readmore {
	float:right;
	font-size:small;
	margin-bottom: 28px;
	margin-right:25px;
}

.readmorelink:link {
	text-decoration:underline;
	color:#ff6900;
}

.readmorelink:visited {
	text-decoration:underline;
	color:#ff6900;
}

.latestUpdates {
    margin-left: 180px;
    float: right;
    margin-right: 20px;
    margin-top: 22px;
    margin-bottom: 24px;
    font-weight:600;
}

.latestUpdateslink:link {
	color:#ff6900;
	font-size:large;
}

.latestUpdateslink:visited {
	color:#ff6900 !important;
	font-size:large;
}

 /*##################---End of Search Query Web Part---##########################*/
 
  /*##################---Styles for Layout---##########################*/
#TitleFloat {
	position:relative;
	margin:0px;
	padding:0px;
}

.TitleFloatUp {
	position:relative;
	top:-70px;
	left:0px;
	background-color: rgba(255, 105, 0, 0.8);
	height:50px;
	margin-left:5px;
	margin-right:6px;
}

.TitleFloattxt {
	color:#fff;
	margin-left:25px;
	padding-top:15px;
	font-size:large;
}

#TextContentContainer {
	margin-left:15px;
}

#NewsDate {
	margin-top:-40px;
	margin-left:15px;
}

#NewsDate span{
	font-weight:600;
	color:#a7a5a5;
}
 
.latestUpdatesLayout {
	margin-left: 180px;
    float: right;
    margin-right: 20px;
    margin-top: 22px;
    margin-bottom: 24px;
    font-weight:600;
} 
 
  /*##################---Styles for Layout---##########################*/
   /*##################---Styles for Buttons---##########################*/ 
  .Previousbtn {
  float:left;
  background: #bbbbb7;
  background-image: -webkit-linear-gradient(top, #bbbbb7, #e3e3e2);
  background-image: -moz-linear-gradient(top, #bbbbb7, #e3e3e2);
  background-image: -ms-linear-gradient(top, #bbbbb7, #e3e3e2);
  background-image: -o-linear-gradient(top, #bbbbb7, #e3e3e2);
  background-image: linear-gradient(to bottom, #bbbbb7, #e3e3e2);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #a6a7a7 !important;
  font-size: 18px;
  background: #e3e3e2;
  padding: 8px 40px 8px 40px;
  text-decoration: none;
  width:100px;
  text-align:center;
  margin-left:5px;
}

.Previousbtn:hover {
  text-decoration: none;
  color: #ff6900 !important;
}

.Nextbtn {
  float:right;
  background: #bbbbb7;
  background-image: -webkit-linear-gradient(top, #bbbbb7, #e3e3e2);
  background-image: -moz-linear-gradient(top, #bbbbb7, #e3e3e2);
  background-image: -ms-linear-gradient(top, #bbbbb7, #e3e3e2);
  background-image: -o-linear-gradient(top, #bbbbb7, #e3e3e2);
  background-image: linear-gradient(to bottom, #bbbbb7, #e3e3e2);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #a6a7a7!important;
  font-size: 18px;
  background: #e3e3e2;
  padding: 8px 40px 8px 40px;
  text-decoration: none;
  width:100px;
  margin-right:5px;
  text-align:center;
}

.Nextbtn:hover {
  text-decoration: none;
  color: #ff6900 !important;
}

.SeeAllbtn {
  float:right;
  background: #bbbbb7;
  background-image: -webkit-linear-gradient(top, #bbbbb7, #e3e3e2);
  background-image: -moz-linear-gradient(top, #bbbbb7, #e3e3e2);
  background-image: -ms-linear-gradient(top, #bbbbb7, #e3e3e2);
  background-image: -o-linear-gradient(top, #bbbbb7, #e3e3e2);
  background-image: linear-gradient(to bottom, #bbbbb7, #e3e3e2);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ff6900 !important;
  font-size: 18px;
  background: #e3e3e2;
  padding: 8px 40px 8px 40px;
  text-decoration: none;
}

.SeeAllbtn:hover {
  text-decoration: none;
  color: #ff6900 !important;
}
 /*##################---End Styles for Buttons---##########################*/ 
 
 .areatemplate-select {
    width:auto !important;
}
